name: Build and Release WPE WebKit

on:
  push:
    branches:
      - '**'
    paths:
      - '.github/workflows/**'
      - 'build.sh'
    tags:
      - 'v*'

jobs:
  build_and_package:
    name: Build and Package
    runs-on: ubuntu-latest
    outputs:
      package_name: ${{ steps.archive.outputs.name }}
      package_path: ${{ steps.archive.outputs.path }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: ccache
        uses: actions/cache@v4
        with:
          path: ~/.ccache
          key: ${{ runner.os }}-ccache-${{ hashFiles('build.sh') }}
          restore-keys: |
            ${{ runner.os }}-ccache-

      - name: Run build script
        run: |
          chmod +x build.sh
          ./build.sh

      - name: Archive build artifacts
        id: archive
        run: |
          ARCHIVE_NAME="wpe-webkit-amd64.tar.gz"
          # Archive only the specific library files
          sudo tar -czf "${ARCHIVE_NAME}" -C \
           /usr/local/include/wpe-1.0/ \
           /usr/local/include/wpe-webkit-2.0/ \
           /usr/local/libexec/wpe-webkit-2.0/ \
           /usr/local/share/wpe-webkit-2.0/ \
           /usr/local/lib/pkgconfig/wpe-* \
           /usr/local/lib/libwpe-1.0.so* \
           /usr/local/lib/libWPEWebKit-2.0.so*
          
          echo "name=${ARCHIVE_NAME}" >> $GITHUB_OUTPUT
          echo "path=${ARCHIVE_NAME}" >> $GITHUB_OUTPUT

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: wpe-webkit-binary
          path: ${{ steps.archive.outputs.path }}

  create_release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: build_and_package
    if: github.ref_type == 'tag'
    permissions:
      contents: write

    steps:
      - name: Download archive from build job
        uses: actions/download-artifact@v4
        with:
          name: wpe-webkit-binary
          path: .

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ needs.build_and_package.outputs.package_path }}
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          body: "Automated release of WPE WebKit custom build."
